{%extends "task/base.html"%}
{%block child_block%}
<div class="container">
    <br>
    <h2 class="shadow bg-light text-black">Click below for view1/page1</h2><a href="/form"><button type="submit" class="btn  bg-dark btn-lg btn-primary">View1</button></a>
<h2 class="shadow bg-light text-black">Click below for view2/page2</h2><a href="/search"><button type="submit" class="btn bg-dark btn-lg btn-primary">View2</button></a>
<h2 class="shadow bg-light text-black">Click below for view3/page3</h2><a href="/images"><button type="submit" class="btn bg-dark btn-lg btn-primary">View3</button></a>

</div>

{%endblock%}